@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --primary: #fbfbfb;
  --primary-light: #535353;
  --primary-dark: #262626;
  --primary-content: #9c7d18;
  --secondary: #ed3a51;
  --secondary-light: #f1697a;
  --secondary-dark: #e0142f;
  --secondary-content: #189c3a;

}

body {
  color: var(--primary);
  background: var(--primary-dark);
  font-family: Arial, Helvetica, sans-serif;
}

nav * {
  color: var(--primary)
}

.hamburger {
  position: unset;
  border: 2px solid red;
}

.text-shadow {
  color: var(--primary-dark);
  text-shadow: 0 0 10px var(--primary);
}

.card-shadow {
  box-shadow: 0 0 8px #535353;

  &:hover {
    box-shadow: 0 0 8px var(--pr);
  }
}

.translateXY {
  transform: translate(-50%, -50%);
}
