@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f5e8be;
  --primary-light: #fcf8ea;
  --primary-dark: #eed892;
  --primary-content: #9c7d18;
  --secondary: #bef5cc;
  --secondary-light: #eafcef;
  --secondary-dark: #92eea9;
  --secondary-content: #189c3a;

}

body {
  color: var(--primary-content);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hamburger {
  position: unset;
  border: 2px solid red;
}

/* Set the page size for printing */
@media print {
  @page {
    size: 4in 6in; /* Set the size of the page to 4 inches by 6 inches */
    margin: 0; /* Remove any default margins */
  }

  /* Make sure only the necessary content is visible during printing */
  body * {
    visibility: hidden;
  }
  .print-content, .print-content * {
    visibility: visible;
  }

  .print-content {
    width: 4in;
    height: 6in;
    padding: 10px;
    font-size: 12px;
    line-height: 1.4;
  }

  .print-button, .return-button {
    display: none;
  }
}
